::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

.filter-tags-bg {
  background: linear-gradient(90deg, rgba(217,217,217,0) 90%, rgba(255,255,255,1) 98%);
}

.active {
  color: var(--custom-blue-color);
}
