::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

.bg-price {
  background: linear-gradient(102.29deg, #F9FAFC 0%, #F0F4FA 100%), #F7F9FC;
}

.filter-tags-bg {
  background: linear-gradient(90deg, rgba(217,217,217,0) 90%, rgba(255,255,255,1) 98%);
}

.active-filter {
  color: var(--custom-blue-color);
}

.active-plan {
  background-color: var(--custom-gray3-color);
}
