:root {
  --custom-black-color: #1d2452;
  --custom-gray-color: #676f8f;
  --custom-gray2-color: #b3b7c7;
  --custom-gray3-color: #f7f9fc;
  --custom-gray4-color: #edeef3;
  --custom-gray5-color: #dddee5;
  --custom-blue-color: #4545f5;
  --custom-blue3-color: #a2a2fa;
  --custom-blue-color-hover: #3d3dd9;
  --custom-blue2-color: #00a3de;
  --custom-green-color: #00a338;
  --custom-blue-bg: #e3e3fe;
  --custom-blue-bg-hover: #d0d0fd;
  --custom-blue-bg2: #e4f8ff;
  --custom-blue-bg2-hover: #d3f3ff;
  --custom-green-bg: #e1f6e9;
  --custom-green-bg-hover: #cdf1da;
}
